USE master;
GO

IF EXISTS (SELECT name FROM sys.databases WHERE name = N'CarShowroomDB')
BEGIN
    ALTER DATABASE [CarShowroomDB] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [CarShowroomDB];
END
GO

CREATE DATABASE [CarShowroomDB];
GO
USE [CarShowRoomDB]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[car_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[model] [nvarchar](50) NOT NULL,
	[year] [int] NOT NULL,
	[color] [nvarchar](30) NULL,
	[price] [decimal](18, 2) NOT NULL,
	[fuel_type] [nvarchar](20) NULL,
	[gear_type] [nvarchar](20) NULL,
	[mileage] [int] NULL,
	[description] [nvarchar](max) NULL,
	[rent_price_per_day] [decimal](18, 2) NULL,
	[approved_by] [int] NULL,
	[approval_notes] [nvarchar](max) NULL,
	[approval_date] [datetime] NULL,
	[created_at] [datetime] NULL,
	[brand_id] [int] NOT NULL,
	[cylinders] [int] NULL,
	[interior_color] [nvarchar](30) NULL,
	[keys_count] [int] NULL,
	[drive_type] [nvarchar](30) NULL,
	[region] [nvarchar](50) NULL,
	[horsepower] [int] NULL,
	[top_speed] [int] NULL,
	[approval_status] [int] NOT NULL,
	[availability_status] [int] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[car_id] [int] NOT NULL,
	[order_type] [int] NOT NULL,
	[order_status] [int] NOT NULL,
	[total_price] [decimal](18, 2) NOT NULL,
	[approved_by] [int] NULL,
	[admin_notes] [nvarchar](max) NULL,
	[approval_date] [datetime] NULL,
	[created_at] [datetime] NULL,
	[user_notes] [nvarchar](max) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent_Orders]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent_Orders](
	[order_id] [int] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CarsWithEffectiveAvailability]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_CarsWithEffectiveAvailability]
AS
SELECT
    c.*,

    CASE
        WHEN c.availability_status = 3 THEN 3

        WHEN EXISTS
        (
            SELECT 1
            FROM dbo.Orders o
            INNER JOIN dbo.Rent_Orders ro
                ON ro.order_id = o.order_id
            WHERE o.car_id = c.car_id

              -- Completed فقط
              AND o.order_status = 4

              -- الإيجار فعال حالياً
              AND SYSUTCDATETIME() >= ro.start_date
              AND SYSUTCDATETIME() < ro.end_date
        )
        THEN 2

        -- تصحيح أي قيمة Rented قديمة
        WHEN c.availability_status = 2 THEN 1

        ELSE c.availability_status
    END AS effective_availability_status

FROM dbo.Cars c;
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[brand_logo_url] [nvarchar](2048) NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buy_Orders]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buy_Orders](
	[order_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car_Images]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_Images](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[car_id] [int] NOT NULL,
	[image_url] [nvarchar](max) NOT NULL,
	[is_main] [bit] NULL,
	[uploaded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[favorite_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[car_id] [int] NOT NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[favorite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Installment_Orders]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Installment_Orders](
	[order_id] [int] NOT NULL,
	[installment_months] [int] NOT NULL,
	[monthly_payment] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Documents]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Documents](
	[document_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[document_url] [nvarchar](2048) NOT NULL,
	[uploaded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_status] [nvarchar](20) NULL,
	[payment_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sell_Requests]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sell_Requests](
	[order_id] [int] NOT NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Contract_Images]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Contract_Images](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[transaction_id] [int] NOT NULL,
	[image_url] [nvarchar](2048) NOT NULL,
	[uploaded_at] [datetime] NOT NULL,
	[uploaded_by] [int] NULL,
	[is_deleted] [bit] NOT NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [int] NULL,
 CONSTRAINT [PK_TransactionContractImages] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[transaction_type] [int] NOT NULL,
	[status] [int] NOT NULL,
	[reference_number] [nvarchar](100) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[contract_image_url] [nvarchar](2048) NULL,
	[created_by] [int] NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[is_deleted] [bit] NOT NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](20) NOT NULL,
	[address] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Cars_Approval_Availability]    Script Date: 28/08/2026 08:58:03 م ******/
CREATE NONCLUSTERED INDEX [IX_Cars_Approval_Availability] ON [dbo].[Cars]
(
	[approval_status] ASC,
	[availability_status] ASC
)
INCLUDE([user_id],[brand_id],[created_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransactionContractImages_TransactionId]    Script Date: 28/08/2026 08:58:03 م ******/
CREATE NONCLUSTERED INDEX [IX_TransactionContractImages_TransactionId] ON [dbo].[Transaction_Contract_Images]
(
	[transaction_id] ASC,
	[is_deleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_OrderId_IsDeleted]    Script Date: 28/08/2026 08:58:03 م ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_OrderId_IsDeleted] ON [dbo].[Transactions]
(
	[order_id] ASC,
	[is_deleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Car_Images] ADD  DEFAULT ((0)) FOR [is_main]
GO
ALTER TABLE [dbo].[Car_Images] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[Cars] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Cars] ADD  CONSTRAINT [DF_Cars_ApprovalStatus]  DEFAULT ((1)) FOR [approval_status]
GO
ALTER TABLE [dbo].[Cars] ADD  CONSTRAINT [DF_Cars_AvailabilityStatus]  DEFAULT ((1)) FOR [availability_status]
GO
ALTER TABLE [dbo].[Favorites] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Order_Documents] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_order_status]  DEFAULT ((1)) FOR [order_status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Pending') FOR [payment_status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[Transaction_Contract_Images] ADD  CONSTRAINT [DF_TransactionContractImages_UploadedAt]  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[Transaction_Contract_Images] ADD  CONSTRAINT [DF_TransactionContractImages_IsDeleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_IsDeleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Buy_Orders]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Car_Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Cars] FOREIGN KEY([car_id])
REFERENCES [dbo].[Cars] ([car_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Car_Images] CHECK CONSTRAINT [FK_Images_Cars]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brands] ([brand_id])
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Admin] FOREIGN KEY([approved_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Admin]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Owner] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Owner]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Car] FOREIGN KEY([car_id])
REFERENCES [dbo].[Cars] ([car_id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Car]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_User]
GO
ALTER TABLE [dbo].[Installment_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Installment_Order_Base] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Installment_Orders] CHECK CONSTRAINT [FK_Installment_Order_Base]
GO
ALTER TABLE [dbo].[Order_Documents]  WITH CHECK ADD  CONSTRAINT [FK_OrderDocuments_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Documents] CHECK CONSTRAINT [FK_OrderDocuments_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Admin] FOREIGN KEY([approved_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Admin]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Car] FOREIGN KEY([car_id])
REFERENCES [dbo].[Cars] ([car_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Car]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_User]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Order]
GO
ALTER TABLE [dbo].[Rent_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Order_Base] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rent_Orders] CHECK CONSTRAINT [FK_Rent_Order_Base]
GO
ALTER TABLE [dbo].[Sell_Requests]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaction_Contract_Images]  WITH CHECK ADD  CONSTRAINT [FK_TransactionContractImages_Transactions] FOREIGN KEY([transaction_id])
REFERENCES [dbo].[Transactions] ([transaction_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaction_Contract_Images] CHECK CONSTRAINT [FK_TransactionContractImages_Transactions]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Orders]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [CK_Cars_ApprovalStatus] CHECK  (([approval_status]=(3) OR [approval_status]=(2) OR [approval_status]=(1)))
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [CK_Cars_ApprovalStatus]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [CK_Cars_AvailabilityStatus] CHECK  (([availability_status]=(3) OR [availability_status]=(2) OR [availability_status]=(1)))
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [CK_Cars_AvailabilityStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddBrand]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddBrand]
    @name NVARCHAR(50),
    @brand_logo_url NVARCHAR(2048) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Brands WHERE name = @name)
    BEGIN
        THROW 50007, 'This brand already exists.', 1;
    END

    INSERT INTO Brands (name, created_at,brand_logo_url)
    VALUES (@name, GETDATE(),@brand_logo_url);

    SELECT SCOPE_IDENTITY() AS NewBrandId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddCarWithImages]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddCarWithImages]
    @user_id INT,
    @BrandId INT,
    @model NVARCHAR(50),
    @year INT,
    @color NVARCHAR(30) = NULL,
    @price DECIMAL(18, 2),
    @fuel_type NVARCHAR(20) = NULL,
    @gear_type NVARCHAR(20) = NULL,
    @mileage INT = NULL,
    @rent_price_per_day DECIMAL(18, 2) = NULL,
    @description NVARCHAR(MAX) = NULL,
    @image_urls NVARCHAR(MAX) = NULL,
    @cylinders INT = NULL,
    @interior_color NVARCHAR(30) = NULL,
    @keys_count INT = NULL,
    @drive_type NVARCHAR(30) = NULL,
    @region NVARCHAR(50) = NULL,
    @horsepower INT = NULL,
    @top_speed INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @user_role NVARCHAR(20);

        SELECT @user_role = role
        FROM Users
        WHERE user_id = @user_id;

        IF @user_role IS NULL
        BEGIN
            THROW 50010, 'User was not found.', 1;
        END;

        DECLARE @approval_status INT = 1;
        DECLARE @availability_status INT = 1;


        DECLARE @approved_by INT = NULL;
        DECLARE @approval_notes NVARCHAR(MAX) = NULL;
        DECLARE @approval_date DATETIME = NULL;

        IF @user_role = 'Admin'
        BEGIN
            SET @approval_status = 2;
            SET @approved_by = @user_id;
            SET @approval_notes =
                N'Added and approved automatically by admin.';
            SET @approval_date = GETDATE();
        END;

        INSERT INTO Cars
        (
            user_id,
            brand_id,
            model,
            year,
            color,
            price,
            fuel_type,
            gear_type,
            mileage,
            description,
            rent_price_per_day,

            approval_status,
            availability_status,


            approved_by,
            approval_notes,
            approval_date,
            created_at,

            cylinders,
            interior_color,
            keys_count,
            drive_type,
            region,
            horsepower,
            top_speed
        )
        VALUES
        (
            @user_id,
            @BrandId,
            @model,
            @year,
            @color,
            @price,
            @fuel_type,
            @gear_type,
            @mileage,
            @description,
            @rent_price_per_day,

            @approval_status,
            @availability_status,


            @approved_by,
            @approval_notes,
            @approval_date,
            GETDATE(),

            @cylinders,
            @interior_color,
            @keys_count,
            @drive_type,
            @region,
            @horsepower,
            @top_speed
        );

        DECLARE @new_car_id INT =
            CONVERT(INT, SCOPE_IDENTITY());

        IF @image_urls IS NOT NULL
           AND LTRIM(RTRIM(@image_urls)) <> ''
        BEGIN
            INSERT INTO Car_Images
            (
                car_id,
                image_url,
                uploaded_at
            )
            SELECT
                @new_car_id,
                LTRIM(RTRIM(value)),
                GETDATE()
            FROM STRING_SPLIT(@image_urls, ',')
            WHERE LTRIM(RTRIM(value)) <> '';
        END;

        COMMIT TRANSACTION;

        SELECT @new_car_id AS NewCarId;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ApproveCar]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ApproveCar]
    @car_id INT,
    @approved_by_admin_id INT,
    @notes NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1
        FROM Users
        WHERE user_id = @approved_by_admin_id
          AND role = 'Admin'
    )
    BEGIN
        THROW 50011, 'Only an admin can approve a car.', 1;
    END;

    IF NOT EXISTS (
        SELECT 1
        FROM Cars
        WHERE car_id = @car_id
    )
    BEGIN
        THROW 50005, 'Car not found.', 1;
    END;

    UPDATE Cars
SET approval_status = 2,
    approved_by = @approved_by_admin_id,
    approval_notes =
        NULLIF(LTRIM(RTRIM(@notes)), ''),
    approval_date = GETDATE(),
    updated_at = GETDATE()
WHERE car_id = @car_id;

    SELECT 'Approved' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateOrder]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateOrder]
    @user_id INT,
    @car_id INT,
    @order_type NVARCHAR(30),
    @total_price DECIMAL(18,2),
    @start_date DATETIME = NULL,
    @end_date DATETIME = NULL,
    @installment_months INT = NULL,
    @monthly_payment DECIMAL(18,2) = NULL,
    @notes NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    BEGIN TRY
        
        DECLARE @new_order_id INT;

        INSERT INTO Orders (user_id, car_id, order_type, order_status, total_price, created_at)
        VALUES (@user_id, @car_id, @order_type, 'Pending', @total_price, GETDATE());

        SET @new_order_id = SCOPE_IDENTITY();

        IF @order_type = 'Rent'
        BEGIN
            INSERT INTO Rent_Orders (order_id, start_date, end_date)
            VALUES (@new_order_id, @start_date, @end_date);
        END
        ELSE IF @order_type = 'Buy'
        BEGIN
            INSERT INTO Buy_Orders (order_id)
            VALUES (@new_order_id);
        END
        ELSE IF @order_type = 'Installment'
        BEGIN
            INSERT INTO Installment_Orders (order_id, installment_months, monthly_payment)
            VALUES (@new_order_id, @installment_months, @monthly_payment);
        END
        ELSE IF @order_type = 'Sell_Request'
        BEGIN
            INSERT INTO Sell_Requests (order_id, notes)
            VALUES (@new_order_id, @notes);
        END

        UPDATE Cars SET status = 'Pending_Order' WHERE car_id = @car_id;

        COMMIT TRANSACTION;
        SELECT @new_order_id AS NewOrderId;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteBrand]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteBrand]
    @brand_id INT
AS
BEGIN
    SET NOCOUNT ON;


    IF EXISTS (SELECT 1 FROM Cars WHERE brand_id = @brand_id)
    BEGIN
        THROW 50006, 'Cannot delete brand. There are cars associated with this brand.', 1;
    END
    

    DELETE FROM Brands WHERE brand_id = @brand_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCar]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteCar]
    @car_id INT,
    @requested_by_user_id INT -- للتأكد أن الحاذف هو صاحب السيارة أو مسؤول
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
        -- التأكد من الصلاحية: هل هو صاحب السيارة أم أدمن؟
        IF NOT EXISTS (SELECT 1 FROM Cars WHERE car_id = @car_id AND (user_id = @requested_by_user_id OR EXISTS (SELECT 1 FROM [Users] WHERE user_id = @requested_by_user_id AND role IN ('Admin', 'Employee'))))
        BEGIN
            THROW 50003, 'You do not have permission to delete this car.', 1;
        END

        -- 1. حذف الصور المرتبطة بالسيارة
        DELETE FROM Car_Images WHERE car_id = @car_id;

        -- 2. حذف السيارة من قوائم المفضلة لدى المستخدمين
        DELETE FROM Favorites WHERE car_id = @car_id;

        -- 3. حذف السيارة نفسها
        DELETE FROM Cars WHERE car_id = @car_id; 

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCarImage]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteCarImage]
    @image_id INT,
    @requested_by_user_id INT
AS
BEGIN
    SET NOCOUNT ON;
    

    IF EXISTS (
        SELECT 1 FROM Car_Images ci
        JOIN Cars c ON ci.car_id = c.car_id
        WHERE ci.image_id = @image_id 
        AND (c.user_id = @requested_by_user_id OR EXISTS (SELECT 1 FROM [Users] WHERE user_id = @requested_by_user_id AND role IN ('Admin', 'Employee')))
    )
    BEGIN
        DELETE FROM Car_Images WHERE image_id = @image_id;
    END
    ELSE
    BEGIN
        THROW 50005, 'Permission denied or image not found.', 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteUser]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- ملاحظة: إذا كان للمستخدم سجلات في جداول أخرى (مثل الطلبات)، 
    -- يجب حذفها أولاً أو استخدام ON DELETE CASCADE في العلاقات.
    
    DELETE FROM Users WHERE user_id = @UserId;

    SELECT @@ROWCOUNT; -- سيعيد 1 إذا تم الحذف بنجاح
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUserByAdmin]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteUserByAdmin]
    @user_id_to_delete INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
    if exists (select 1 from Users where user_id=@user_id_to_delete and role ='User')
    begin
        DELETE FROM Cars WHERE user_id = @user_id_to_delete;

        DELETE FROM [Users] WHERE user_id = @user_id_to_delete;

        COMMIT TRANSACTION;
        SELECT 1 AS Result;
    end
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 0 AS Result;
        THROW 50002, 'Failed to delete user. The user might have active orders or payments.', 1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByEmail]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. إجراء مخصص لجلب بيانات المستخدم عند تسجيل الدخول
CREATE PROCEDURE [dbo].[sp_GetUserByEmail]
    @Email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- جلب كافة البيانات التحققية والصلاحيات بناءً على الإيميل
    SELECT user_id, full_name, email, password, role 
    FROM Users 
    WHERE email = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserProfile]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserProfile]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT user_id, full_name, email, phone, address, role, created_at 
    FROM Users 
    WHERE user_id = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegisterUser]
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @Password NVARCHAR(MAX),
    @Phone NVARCHAR(20),   -- تأكد من وجود هذا السطر
    @Role NVARCHAR(20),
    @Address NVARCHAR(255) -- تأكد من وجود هذا السطر
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Users WHERE email = @Email)
    BEGIN
        RAISERROR('This email is already registered.', 16, 1);
        RETURN;
    END

    -- إدخال كافة الحقول السبعة بالتفصيل
    INSERT INTO Users (full_name, email, password, phone, role, address, created_at)
    VALUES (@FullName, @Email, @Password, @Phone, @Role, @Address, GETDATE());
    
    SELECT SCOPE_IDENTITY() AS NewUserId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RejectCar]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RejectCar]
    @car_id INT,
    @rejected_by_admin_id INT,
    @notes NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1
        FROM Users
        WHERE user_id = @rejected_by_admin_id
          AND role = 'Admin'
    )
    BEGIN
        THROW 50012, 'Only an admin can reject a car.', 1;
    END;

    IF NOT EXISTS (
        SELECT 1
        FROM Cars
        WHERE car_id = @car_id
    )
    BEGIN
        THROW 50005, 'Car not found.', 1;
    END;

    IF NULLIF(LTRIM(RTRIM(@notes)), '') IS NULL
    BEGIN
        THROW 50006, 'Rejection reason is required.', 1;
    END;

    IF EXISTS (
        SELECT 1
        FROM Cars
        WHERE car_id = @car_id
          AND availability_status IN (2, 3)
    )
    BEGIN
        THROW 50013,
              'A rented or sold car cannot be rejected.',
              1;
    END;

    UPDATE Cars
SET approval_status = 3,
    availability_status = 1,
    approved_by = @rejected_by_admin_id,
    approval_notes = LTRIM(RTRIM(@notes)),
    approval_date = GETDATE(),
    updated_at = GETDATE()
WHERE car_id = @car_id;

    SELECT 'Rejected' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchCars]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_SearchCars]
    @brandId INT = NULL,
    @model NVARCHAR(50) = NULL,
    @minPrice DECIMAL(18, 2) = NULL,
    @maxPrice DECIMAL(18, 2) = NULL,
    @year INT = NULL,
    @fuelType NVARCHAR(20) = NULL,
    @gearType NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.*,
        b.name AS brand_name,
        b.brand_logo_url,
        ci.image_url
    FROM Cars c
    LEFT JOIN Brands b
        ON b.brand_id = c.brand_id
    LEFT JOIN Car_Images ci
        ON ci.car_id = c.car_id
    WHERE c.approval_status = 2
      AND c.availability_status = 1
      AND (
          @brandId IS NULL
          OR c.brand_id = @brandId
      )
      AND (
          @model IS NULL
          OR c.model LIKE '%' + @model + '%'
      )
      AND (
          @minPrice IS NULL
          OR c.price >= @minPrice
      )
      AND (
          @maxPrice IS NULL
          OR c.price <= @maxPrice
      )
      AND (
          @year IS NULL
          OR c.year = @year
      )
      AND (
          @fuelType IS NULL
          OR c.fuel_type = @fuelType
      )
      AND (
          @gearType IS NULL
          OR c.gear_type = @gearType
      )
    ORDER BY c.created_at DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ToggleFavorite]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ToggleFavorite]
    @user_id INT,
    @car_id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (SELECT 1 FROM Favorites WHERE user_id = @user_id AND car_id = @car_id)
    BEGIN
        DELETE FROM Favorites WHERE user_id = @user_id AND car_id = @car_id;
        SELECT 'Removed' AS Result;
    END
    ELSE
    BEGIN
        INSERT INTO Favorites (user_id, car_id, added_at)
        VALUES (@user_id, @car_id, GETDATE());
        SELECT 'Added' AS Result;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBrand]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateBrand]
    @brand_id INT,
    @brand_name NVARCHAR(100),
    @image_url NVARCHAR(2048) = NULL
AS
BEGIN

    IF @image_url IS NOT NULL
    BEGIN
        UPDATE Brands 
        SET name = @brand_name, brand_logo_url = @image_url 
        WHERE brand_id = @brand_id;
    END
    ELSE
    BEGIN
        UPDATE Brands 
        SET name = @brand_name ,brand_logo_url=@image_url
        WHERE brand_id = @brand_id;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCar]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateCar]
    @car_id INT,
    @user_id INT,
    @BrandId INT,
    @model NVARCHAR(50),
    @year INT,
    @color NVARCHAR(30) = NULL,
    @price DECIMAL(18, 2),
    @fuel_type NVARCHAR(20) = NULL,
    @gear_type NVARCHAR(20) = NULL,
    @image_urls NVARCHAR(MAX) = NULL,
    @mileage INT = NULL,
    @description NVARCHAR(MAX) = NULL,
    @rent_price_per_day DECIMAL(18, 2) = NULL,
    @cylinders INT = NULL,
    @interior_color NVARCHAR(30) = NULL,
    @keys_count INT = NULL,
    @drive_type NVARCHAR(30) = NULL,
    @region NVARCHAR(50) = NULL,
    @horsepower INT = NULL,
    @top_speed INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @is_admin BIT = 0;

        IF EXISTS (
            SELECT 1
            FROM Users
            WHERE user_id = @user_id
              AND role = 'Admin'
        )
        BEGIN
            SET @is_admin = 1;
        END;

        IF NOT EXISTS (
            SELECT 1
            FROM Cars
            WHERE car_id = @car_id
              AND (
                  user_id = @user_id
                  OR @is_admin = 1
              )
        )
        BEGIN
            THROW 50004,
                  'Car not found or you do not have permission to edit it.',
                  1;
        END;

        -- المالك العادي لا يعدل سيارة مباعة أو مؤجرة.
        IF @is_admin = 0
           AND EXISTS (
               SELECT 1
               FROM Cars
               WHERE car_id = @car_id
                 AND availability_status IN (2, 3)
           )
        BEGIN
            THROW 50014,
                  'A rented or sold car cannot be edited by its owner.',
                  1;
        END;

        UPDATE Cars
        SET brand_id = @BrandId,
            model = @model,
            year = @year,
            color = @color,
            price = @price,
            fuel_type = @fuel_type,
            gear_type = @gear_type,
            mileage = @mileage,
            description = @description,
            rent_price_per_day =
                @rent_price_per_day,

            cylinders = @cylinders,
            interior_color = @interior_color,
            keys_count = @keys_count,
            drive_type = @drive_type,
            region = @region,
            horsepower = @horsepower,
            top_speed = @top_speed,

            approval_status =
                CASE
                    WHEN @is_admin = 1 THEN 2
                    ELSE 1
                END,

            availability_status =
                CASE
                    WHEN @is_admin = 1
                        THEN availability_status
                    ELSE 1
                END,


            approved_by =
                CASE
                    WHEN @is_admin = 1 THEN @user_id
                    ELSE NULL
                END,

            approval_notes =
                CASE
                    WHEN @is_admin = 1
                        THEN N'Updated and approved automatically by admin.'
                    ELSE NULL
                END,

            approval_date =
                CASE
                    WHEN @is_admin = 1 THEN GETDATE()
                    ELSE NULL
                END,

            updated_at = GETDATE()

        WHERE car_id = @car_id
          AND (
              user_id = @user_id
              OR @is_admin = 1
          );

        /*
          لا نحذف الصور القديمة إذا لم يرسل المستخدم
          صورًا جديدة.
        */
        IF @image_urls IS NOT NULL
           AND LTRIM(RTRIM(@image_urls)) <> ''
        BEGIN
            DELETE FROM Car_Images
            WHERE car_id = @car_id;

            INSERT INTO Car_Images
            (
                car_id,
                image_url,
                uploaded_at
            )
            SELECT
                @car_id,
                LTRIM(RTRIM(value)),
                GETDATE()
            FROM STRING_SPLIT(@image_urls, ',')
            WHERE LTRIM(RTRIM(value)) <> '';
        END;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePassword]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdatePassword]
    @UserId INT,
    @NewPassword NVARCHAR(MAX)
AS
BEGIN
    UPDATE Users 
    SET password = @NewPassword 
    WHERE user_id = @UserId;
    
    SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserProfile]    Script Date: 28/08/2026 08:58:03 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateUserProfile]
    @UserId INT,
    @FullName NVARCHAR(100),
    @Phone NVARCHAR(20),
    @Address NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users 
    SET full_name = @FullName, 
        phone = @Phone, 
        address = @Address
    WHERE user_id = @UserId;

    -- لإرجاع عدد الصفوف المتأثرة للتأكد من نجاح العملية
    SELECT @@ROWCOUNT;
END
GO
USE [master]
GO
